@import './common/var.scss';
@import './mixins/mixins.scss';

[class*='al-col-'] {
  float: left;
  box-sizing: border-box;
}

.al-col-0 {
  display: none;
}

@for $i from 0 through 24 {
  .al-col-#{$i} {
    width: (1 / 24 * $i * 100) * 1%;
  }

  .al-col-offset-#{$i} {
    margin-left: (1 / 24 * $i * 100) * 1%;
  }

  .al-col-pull-#{$i} {
    position: relative;
    right: (1 / 24 * $i * 100) * 1%;
  }

  .al-col-push-#{$i} {
    position: relative;
    left: (1 / 24 * $i * 100) * 1%;
  }
}

@include res(xs) {
  .al-col-xs-0 {
    display: none;
  }
  @for $i from 0 through 24 {
    .al-col-xs-#{$i} {
      width: (1 / 24 * $i * 100) * 1%;
    }

    .al-col-xs-offset-#{$i} {
      margin-left: (1 / 24 * $i * 100) * 1%;
    }

    .al-col-xs-pull-#{$i} {
      position: relative;
      right: (1 / 24 * $i * 100) * 1%;
    }

    .al-col-xs-push-#{$i} {
      position: relative;
      left: (1 / 24 * $i * 100) * 1%;
    }
  }
}

@include res(sm) {
  .al-col-sm-0 {
    display: none;
  }
  @for $i from 0 through 24 {
    .al-col-sm-#{$i} {
      width: (1 / 24 * $i * 100) * 1%;
    }

    .al-col-sm-offset-#{$i} {
      margin-left: (1 / 24 * $i * 100) * 1%;
    }

    .al-col-sm-pull-#{$i} {
      position: relative;
      right: (1 / 24 * $i * 100) * 1%;
    }

    .al-col-sm-push-#{$i} {
      position: relative;
      left: (1 / 24 * $i * 100) * 1%;
    }
  }
}

@include res(md) {
  .al-col-md-0 {
    display: none;
  }
  @for $i from 0 through 24 {
    .al-col-md-#{$i} {
      width: (1 / 24 * $i * 100) * 1%;
    }

    .al-col-md-offset-#{$i} {
      margin-left: (1 / 24 * $i * 100) * 1%;
    }

    .al-col-md-pull-#{$i} {
      position: relative;
      right: (1 / 24 * $i * 100) * 1%;
    }

    .al-col-md-push-#{$i} {
      position: relative;
      left: (1 / 24 * $i * 100) * 1%;
    }
  }
}

@include res(lg) {
  .al-col-lg-0 {
    display: none;
  }
  @for $i from 0 through 24 {
    .al-col-lg-#{$i} {
      width: (1 / 24 * $i * 100) * 1%;
    }

    .al-col-lg-offset-#{$i} {
      margin-left: (1 / 24 * $i * 100) * 1%;
    }

    .al-col-lg-pull-#{$i} {
      position: relative;
      right: (1 / 24 * $i * 100) * 1%;
    }

    .al-col-lg-push-#{$i} {
      position: relative;
      left: (1 / 24 * $i * 100) * 1%;
    }
  }
}

@include res(xl) {
  .al-col-xl-0 {
    display: none;
  }
  @for $i from 0 through 24 {
    .al-col-xl-#{$i} {
      width: (1 / 24 * $i * 100) * 1%;
    }

    .al-col-xl-offset-#{$i} {
      margin-left: (1 / 24 * $i * 100) * 1%;
    }

    .al-col-xl-pull-#{$i} {
      position: relative;
      right: (1 / 24 * $i * 100) * 1%;
    }

    .al-col-xl-push-#{$i} {
      position: relative;
      left: (1 / 24 * $i * 100) * 1%;
    }
  }
}
