.al-header,
.al-footer {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.al-aside {
  color: #333;
}

#chang-jian-ye-mian-bu-ju + .demo-container {
  .al-header,
  .al-footer {
    text-align: center;
  }

  .al-aside {
    background-color: #d3dce6;
    text-align: center;
    line-height: 200px;
  }

  .al-main {
    background-color: #e9eef3;
    color: #333;
    text-align: center;
    line-height: 160px;
  }

  & > .source > .al-container {
    margin-bottom: 40px;

    &:nth-child(5) .al-aside,
    &:nth-child(6) .al-aside {
      line-height: 260px;
    }

    &:nth-child(7) .al-aside {
      line-height: 320px;
    }
  }
}
