.demo-block.demo-dialog {
  .dialog-footer button:first-child {
    margin-right: 10px;
  }
  .full-image {
    width: 100%;
  }
  .al-dialog__wrapper {
    margin: 0;
  }
  .al-select {
    width: 300px;
  }
  .al-input {
    width: 300px;
  }
  .al-button--text {
    margin-right: 15px;
  }
}
